* {
    box-sizing: border-box;
}

body {
    display: flex;
   

body {
    background: #e6e6e6;
    font-family: Georgia, serif;
}

#payment-form {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    grid-template-rows: auto 220px auto;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    width: 400px;       
    margin: 50px auto;
}
.card-front,
.card-back {
    width: 360px;
    height: 210px;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.25);
    display: grid;
    width: 100%;
    max-width: 350px;
}

.card-front {
    background: #d3d3d3;
    grid-column: 1 / 4;
    grid-row: 2;
    z-index: 2;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 12px;
}

.card-back {
    background: #c7c7c7;
    grid-column: 2 / 5;
    grid-row: 2;
    margin-top: 50px;
    z-index: 1;

    grid-template-rows: 40px auto;
}

.stripe {
    height: 40px;
    background: black;
    width: 100%;
}

.total {
    grid-column: 1 / -1;
    font-size: 22px;
    font-weight: bold;
}

.chip {
    justify-self: end;
    font-size: 22px;
}

.card-number {
    grid-column: 1 / -1;
}

.card-number input {
    width: 260px;
}

.card-name input {
    width: 200px;
}

#cardExpiration {
    justify-self: start;
}

.exp-inputs {
    display: flex;
    gap: 8px;
}

.exp-inputs input {
    width: 55px;
}

input {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 5px;
    font-size: 14px;
}


.cvc-group {
    position: absolute;
    right: 40px;
    top: 120px;
    text-align: right;
}

.cvc-group input {
    width: 60px;
}

.submit-btn {
    grid-column: 4;
    grid-row: 3;
    justify-self: end;

    padding: 8px 18px;
    background: #ddd;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    font-weight: bold;
}