@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
header,
main,
footer {

    padding: 1rem;
    background-color:rgb(177, 175, 175);
}
h1 {
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    font-size: 2em;
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
    color: lightseagreen;
}

header{
    background-color: rgb(59, 124, 243);
    text-align: center;
}
footer{
    background-color: rgb(59, 124, 243);
}

section {
  padding: 8px;
  background-color: white;
  margin: 1em;
  /*border: 1px solid #ccc;*/
  box-shadow: 5px 5px 10px #616061;
}
nav a {
    padding: 20px;
    color:aliceblue;
    display: block;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid grey;
}
img {
    width: 100%;
    height: 100%;
}
.hide{
  display: none;
}

nav a:hover {
    text-decoration: none;
    color: #616061;
}
.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: aliceblue;
}
          
footer {
    text-align: center;
}
dialog img {
    width: 90%;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 1600px) {
    #images{
      display: grid; 
      grid-template-columns: 1fr 1fr;
      object-fit: cover;
    }
    .menu-btn{
        display: none;
    }
    nav a{
      display: inline;
      border-top: none;
    }
    nav{
      text-align: center;
    }
    .hide{
      display: block;
    }

        .close-viewer {
        position: absolute;
        right: 15vh;
    }
}