 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
header, footer {
    background-color: #222;
    color: white;
    padding: 1rem;
    text-align: center;
}
.main-nav {
    list-style: none;
    padding: 0;
}
.main-nav li {
    padding: 8px;
}
.main-nav a {
    color: #ffc107;
    text-decoration: none;
}
#movie-list {
    padding: 0 2rem;
}
.movie {
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    max-width: 700px;
    margin: 20px auto;
}
.movie h2 {
    color: #b30059;
    font-size: 1.5rem;
    text-align: center;
    margin: 20px;
}

.movie-info h2 {
  color: #e91e63;
  font-size: 18px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 13px;
  margin-bottom: 6px;
}

.rating {
  color: gold;
  font-size: 14px;
  margin-top: 5px;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  color: #333;
}
.movie-card {
  background: #f4f4f4;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

@media (min-width: 600px) {
    .main-nav{
        display: grid;
        grid-template-columns: 100px 100px 100px ;
        justify-content: center;
    }

    .movie{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .movie img{
        grid-row: 1/6;
    }

}