 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
  background-color: #dcdcdc;
}


.main-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.main-nav a {
  color: #ffcc00;
  text-decoration: none;
  font-size: 14px;
}

.main-nav a:hover {
  text-decoration: underline;
}

#main-content {
  padding: 30px 0;
}

#movie-list {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.movie-card {
  background-color: #f2f2f2;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.movie-card img {
  width: 150px;
  border-radius: 5px;
}

.movie-info h2 {
  color: #e91e63;
  font-size: 18px;
  margin-bottom: 10px;
}

.movie-info p {
  font-size: 13px;
  margin-bottom: 6px;
}

.rating {
  color: gold;
  font-size: 14px;
  margin-top: 5px;
}

.description {
  margin-top: 10px;
  font-size: 12px;
  color: #333;
}
.movie-card {
  background: #f4f4f4;
  border: 1px solid #aaa;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 30px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

@media (min-width: 600px) {
    .main-nav{
        display: grid;
        grid-template-columns: 100px 100px 100px ;
        justify-content: center;
    }

    .movie{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .movie img{
        grid-row: 1/6;
    }

}